.sales-listheader-main, .sales-listheader{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: white;
}

.sales-listheader-main{
    margin-left: 5%;
    margin-right: 5%;
}



.sales-list-header-input{
    display: flex;
    align-items: center;
    margin-top: 0px;
}
.sales-list-header-input > input{

    margin-top: 0px;
}

@media screen and (max-width: 854px) {
    .sales-listheader-main {
        font-size: small;
        width: 100%;
    }
    .sales-list-header-input > input{
        display: flex;
        align-items: center;
        width: 70px;
    }
}